*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    background-image: url(./img/jumbo.png);
    background-size: cover;
    height: 550px;
}

.start{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 1%;
}

.logo{
    padding-top: 10px;
}

.test{
    width: 500px;
    display: flex;
    color: white;
    padding: 1%;
}

.test p{
    margin-left: 6%;
    text-align: center;
    font-size: 14px;
}

.button{
    width: 100px;
    padding: 1%;
}

.title{
    width: 50%;
    margin: 7% 25% 5% 25%;
    text-align: center;
    color: white;
    padding: 2% 0;
}

h1{
    font-size: 50px;
}

.Mac{
    background-color: white;
}

.Discord{
    color: white;
    background-color: #23272A;
}

main{
    display: flex;
    flex-direction: column;
}

.container{
    height: 600px;
    display: flex;
    padding: 5%;
    justify-content: center;
    align-items: center;
}

.one{
    background-color: white;
}

.img1{
    background-color: white;
    margin-right: 1%;
}

.test2{
    width: 500px;
    height: 400px;
}

h2{
    font-size: 50px;
}

.sizep{
    font-size: 16px;
    line-height: 27px;
}


.two{
    background-color: #F6F6F6;
}

.two img{
    background-color: #F6F6F6;
}

.tree{
    background-color: white;
}

.container2{
    padding: 5%;
    text-align: center;
}

.four{
    background-color: #F6F6F6;
}

h3{
    font-size: 25px;
}

.buttonMac{
    margin: 3% 0 3% 0;
}

footer{
    background-color: #23272A;
    height: 600px;
}

.container3{
    display: flex;
    background-color: #23272A;
    height: 500px;
    padding: 5% 10% 0 10%;
    justify-content: center;
}

.logo2{
    border: 1px solid black;
    height: 300px;
    margin-right: 10px;
    flex-grow: 1;
    color: #7289DA;
    font-size: 30px;
}

.ul{
    flex-grow: 80;
    display: flex;
    line-height: 30px;
}

ul{
    color: #7289DA;
    list-style-type: none;
}

li{
    color: white;
    width: 150px;
}

.li{
    margin: 0 6% 0 2%;
}

hr{
    width: 80%;
    margin: 0 10% 0 10%;
}

.container4{
    display: flex;
    justify-content: space-between;
    padding: 1% 10% 0 10%;
}
